<form method='get' action="/articles">

<h1>Pick Your Article!</h1>
  <%@articles.each do |x|%>
    <h2><input type="checkbox" id= "<%= x.id %>" name="<%= x.title%>" value="<%= x.id %>"><%= x.title%></h2>
    <%binding.pry%>
    <%end%>
 <br>
 <input type="submit" value="Submit">

 </form>
